---
http_interactions:
- request:
    method: post
    uri: https://api.kucoin.com/v1/ITC-ETH/cancel-order
    body:
      encoding: UTF-8
      string: orderOid=5a8dea55003f9b447c298a28&type=BUY
    headers:
      Kc-Api-Key:
      - API-KEY
      Kc-Api-Nonce:
      - '1519250107523'
      Kc-Api-Signature:
      - MASKED_API_SIGNATURE
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Kc-Node:
      - localhost
    body:
      encoding: UTF-8
      string: '{"success":true,"code":"OK","msg":"Operation succeeded.","timestamp":1519250109856,"data":null}'
  recorded_at: Wed, 21 Feb 2018 21:55:10 GMT
recorded_with: VCR 4.0.0
