---
http_interactions:
- request:
    method: post
    uri: https://api.kucoin.com/v1/order/cancel-all
    body:
      encoding: UTF-8
      string: symbol=ITC-ETH
    headers:
      Kc-Api-Key:
      - API-KEY
      Kc-Api-Nonce:
      - '1519250189021'
      Kc-Api-Signature:
      - MASKED_API_SIGNATURE
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Kc-Node:
      - localhost
    body:
      encoding: UTF-8
      string: '{"success":true,"code":"OK","msg":"Operation succeeded.","timestamp":1519250190183,"data":null}'
  recorded_at: Wed, 21 Feb 2018 21:56:30 GMT
recorded_with: VCR 4.0.0
