---
http_interactions:
- request:
    method: post
    uri: https://api.kucoin.com/v1/order
    body:
      encoding: UTF-8
      string: amount=0.0001&price=0.1&symbol=ETH-BTC&type=SELL
    headers:
      Kc-Api-Key:
      - API-KEY
      Kc-Api-Nonce:
      - '1519249898501'
      Kc-Api-Signature:
      - MASKED_API_SIGNATURE
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Kc-Node:
      - localhost
    body:
      encoding: UTF-8
      string: '{"success":true,"code":"OK","msg":"OK","timestamp":1519249901828,"data":{"orderOid":"5a8de9ed8247274f867a292b"}}'
  recorded_at: Wed, 21 Feb 2018 21:51:42 GMT
recorded_with: VCR 4.0.0
