---
http_interactions:
- request:
    method: post
    uri: https://api.kucoin.com/api/v1/orders
    body:
      encoding: UTF-8
      string: '{"clientOid":"d3990b03-201e-45b1-95dd-58ffd6841844","side":"buy","symbol":"VET-USDT","type":"market","size":"10"}'
    headers:
      Kc-Api-Key:
      - API-KEY
      Kc-Api-Sign:
      - vKWzLS0ZBTcVuzMXrD6D+ILfvGvQYUtKc7JebNmc+DE=
      Kc-Api-Timestamp:
      - '1558464518321'
      Kc-Api-Passphrase:
      - API-PASSPHRASE
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Trace-Id:
      - 3fb22cd0fb23d554
      Weight-Interval:
      - SECOND
      Weight-Expire:
      - '1558464510'
      Weight-Limit:
      - '1800'
      Weight-Remain:
      - '1797'
    body:
      encoding: UTF-8
      string: '{"code":"200000","data":{"orderId":"5ce44806c788c65667046597"}}'
  recorded_at: Tue, 21 May 2019 18:48:38 GMT
recorded_with: VCR 4.0.0
