---
http_interactions:
- request:
    method: post
    uri: https://api.kucoin.com/api/v1/orders
    body:
      encoding: UTF-8
      string: '{"clientOid":"d68e39e2-123e-4baf-be50-8b3f965945ed","side":"sell","symbol":"USDT-NUSD","type":"market","size":"0.01"}'
    headers:
      Kc-Api-Key:
      - API-KEY
      Kc-Api-Sign:
      - XuOsLWK8ltbUJXN9ImD3YUQs/kb+6fgNOEcIqvRws70=
      Kc-Api-Timestamp:
      - '1558463055884'
      Kc-Api-Passphrase:
      - API-PASSPHRASE
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Trace-Id:
      - 51c27ff66de95e68
    body:
      encoding: UTF-8
      string: '{"code":"200000","data":{"orderId":"5ce44250cdaba44800fcecf5"}}'
  recorded_at: Tue, 21 May 2019 18:24:16 GMT
recorded_with: VCR 4.0.0
