partial_permissions:
  key: "PARTIAL_PERMISSIONS_KEY"
  secret: "PARTIAL_PERMISSIONS_SECRET"
  passphrase: "PARTIAL_PERMISSIONS_PASSPHRASE"

full_permissions:
  key: "FULL_PERMISSIONS_KEY"
  secret: "FULL_PERMISSIONS_SECRET"
  passphrase: "FULL_PERMISSIONS_PASSPHRASE"
