---
http_interactions:
- request:
    method: get
    uri: https://api.kucoin.com/api/v1/market/orderbook/level1?symbol=XRP-USDT
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Trace-Id:
      - 17b7b07a802fef17
    body:
      encoding: UTF-8
      string: '{"code":"200000","data":{"sequence":"1556266889824","bestAsk":"0.39627","size":"169.7","price":"0.39541","bestBidSize":"525.29","time":1558458401604,"bestBid":"0.39612","bestAskSize":"2459.5806"}}'
  recorded_at: Tue, 21 May 2019 17:06:41 GMT
recorded_with: VCR 4.0.0
