---
http_interactions:
- request:
    method: get
    uri: https://api.kucoin.com/v1/open/tick?symbol=HPB-ETH
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Kc-Node:
      - localhost
    body:
      encoding: UTF-8
      string: '{"success":true,"code":"OK","msg":"Operation succeeded.","timestamp":1519153348457,"data":{"coinType":"HPB","trading":true,"symbol":"HPB-ETH","lastDealPrice":0.005491,"buy":0.005491,"sell":0.005568,"change":-9.6E-4,"coinTypePair":"ETH","sort":0,"feeRate":0.001,"volValue":366.86616079,"high":0.006579,"datetime":1519153348000,"vol":61104.1427,"low":0.005491,"changeRate":-0.1488}}'
  recorded_at: Tue, 20 Feb 2018 19:02:28 GMT
recorded_with: VCR 4.0.0
