---
http_interactions:
- request:
    method: post
    uri: https://api.kucoin.com/api/v1/orders
    body:
      encoding: UTF-8
      string: '{"clientOid":"26cf6e27-a816-48d0-b15b-3f69f81ec7be","side":"buy","symbol":"XRP-USDT","type":"limit","price":"0.1","size":"0.8","timeInForce":"GTC"}'
    headers:
      Kc-Api-Key:
      - API-KEY
      Kc-Api-Sign:
      - UyhTfv0E3qnaqdqT4T/F+3kht1PRumFaVzkz35eh3Ag=
      Kc-Api-Timestamp:
      - '1558458438951'
      Kc-Api-Passphrase:
      - API-PASSPHRASE
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Trace-Id:
      - 6b1912ce20ff3f72
    body:
      encoding: UTF-8
      string: '{"code":"200000","data":{"orderId":"5ce430474c06871c7be99af9"}}'
  recorded_at: Tue, 21 May 2019 17:07:19 GMT
recorded_with: VCR 4.0.0
