---
http_interactions:
- request:
    method: post
    uri: https://api.kucoin.com/api/v1/orders
    body:
      encoding: UTF-8
      string: '{"clientOid":"0f49237d-c136-4c42-9113-0c68edbf26bb","side":"sell","symbol":"USDT-NUSD","type":"limit","price":"10","size":"0.24","timeInForce":"GTC"}'
    headers:
      Kc-Api-Key:
      - API-KEY
      Kc-Api-Sign:
      - 8np5eA2iB5P6kvj/rmuYhbZ3VlmTvObcG0o1ZIFzRzc=
      Kc-Api-Timestamp:
      - '1558458793040'
      Kc-Api-Passphrase:
      - API-PASSPHRASE
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Trace-Id:
      - d3a13965f14004b9
    body:
      encoding: UTF-8
      string: '{"code":"200000","data":{"orderId":"5ce431a9c788c65667ffef5d"}}'
  recorded_at: Tue, 21 May 2019 17:13:13 GMT
recorded_with: VCR 4.0.0
